@import url('https://fonts.googleapis.com/css2?family=Lancelot&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

$orangeColor:#F2AA4C;
$blueColor: #101820;  
$mainTextColor: #000000;
$textFont: 'Lato', sans-serif;
$titleFont: "Lancelot", cursive;
$tableHeaderColor: #5DADE2;